.btn {
  border-radius: 10px;
  width: 70px;
  height: 70px;
}

.uploadSuccessContainer,
.uploadErrorContainer,
.uploadDoneContainer {
  display: flex;
  gap: 10px;
}

.uploadButtonText {
  display: block;
    max-width: 260px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}