.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
}

.modalContainer {
  display: flex;
  align-items: start;
  gap: 30px;
  padding-top: 300px;
}

.modal {
  padding: 40px;
  border-radius: 8px;
  border-radius: 45px;
  min-width: 600px;
  background: var(--color-white);
  overflow-y: scroll;
  max-height: 80vh;
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
  border-radius: 10px;
}