.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContainer {
  padding: 40px;
  background: var(--color-white);
  border-radius: 8px;
  max-height: 90vh;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 45px;
  max-width: 1000px;
  max-height: calc(100vh - 300px);
  margin-top: 40px;
  overflow-y: scroll;
}

.closeButton {
  position: absolute;
  top: 259px;
  right: 271px;
  border-radius: 10px;
}